body {
    background-image: url("../img/fondo1.jpg");
    background-size: 800px ;
       }
       .fbott {
        font-size: larger;
        background-color: #199319;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
      }
   .fbott:hover {
        background-color: #223094;
      }