
*{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.title {
     background-color: rgb(43, 39, 41);
     padding: 20px;

}
body {

    
    background-image: url("../img/image.jpg");
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background-size: width=2600 height=10200px ;
    background-attachment: fixed;
       }

body.inverted{
    -webkit-filter: invert(100%);
    filter: invert(100%);

}
.hoal{
     background-image: linear-gradient(to bottom right, red, yellow);
     padding: 20px;
     font-size: 105%;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

    


}


.jo{
    background-color: rgb(255, 248, 249, 0.5);
}
.fbott {
     font-size: larger;
     background-color: #199319;
     line-height: 3;
     color: white;
     padding: 10px 20px;
     text-decoration: none;
   }
.fbott:hover {
        background-image: linear-gradient(to bottom right, rgb(126, 247, 142), rgb(0, 139, 173));

   }

   .main-nav{
     text-align:center;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 140%;
     margin-top: 10px;
     list-style: none;
     padding-left: 0;
     background-image: linear-gradient(to bottom right, rgb(34, 124, 139),rgb(99, 64, 182));
 }


 .main-nav__item{
     display: inline-block;
 }

 .main-nav__item a{
     color:white;
     padding: 5px;
     border-radius:2px ;
     text-decoration:none;
 }

 /* Pseudoclases*/
 .main-nav__item a:hover{
     color:rgb(196, 27, 187)
 }

 .main-nav__item a:active{
     color:red

 }

 /*Pseudoelemento    */
 .main-nav__item a::after{
     content: " | ";

 }

/* .cuerpo{
    display: flex;
    flex-wrap: wrap;
}
.c1, .c2, .c3{
    width: 100%;
    min-width: 150px;
    height: 150px;
    font-size: 15px;
}
.c3{
    position:relative;
    bottom: -38rem;

} */