@import url('https://fonts.cdnfonts.com/css/sell-your-soul');
@import url('https://fonts.cdnfonts.com/css/-200');
@import url('https://fonts.cdnfonts.com/css/vtks-rude-metal-shadow');
*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
.title {
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(88, 88, 88));
  padding: 20px;
  font-size: 3.0rem;
  text-align: center;
  color: antiquewhite;
  font-family: 'Sell Your Soul', sans-serif;
}

body {
  margin-left: 5px;
  margin-right: 5px;

  background-image:linear-gradient(to bottom left, rgb(255, 255, 255), rgb(176, 255, 152));
  background-size: cover ;
}
p{
  font-size: larger;

}





.fbott {
  font-size: larger;
  background-color: #199319;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  }
.fbott:hover {
  background-image: linear-gradient(to bottom right, rgb(126, 247, 142), rgb(0, 139, 173));

}

.izq{
  float: center;

}
.cent{
  float: center;

}
.cont{
  display: flex;
  text-align: center;


}
.der{
  float: center;

}
p{
  font-family: 'Ardiga', sans-serif;

}
.text{
  font-family: 'vtks Rude Metal', sans-serif;
  font-size:2.5rem;
  margin-left: 10px;
  background: -webkit-linear-gradient(rgb(144, 99, 173), rgb(243, 70, 70));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}