*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

body {
    background-image: url("../img/fondo1.jpg");
    background-size: 800px ;
       }
       .fbott {
        font-size: larger;
        background-color: #199319;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
      }
   .fbott:hover {
      background-image: linear-gradient(to bottom right, rgb(126, 247, 142), rgb(0, 139, 173));


      }

p{

  font-size: 110%;
  background-color: rgba(255, 255, 255,0.5);
}