@import url('https://fonts.cdnfonts.com/css/-200');

*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

.title {
  font-size: 250% ;
  background-image: linear-gradient(to bottom right, rgb(164, 224, 221), rgb(165, 241, 142));
  padding: 10px;
  font-family:fantasy;
  text-align: center;
}
body {
    background-image: linear-gradient(to bottom right, rgb(167, 210, 223), rgb(241, 172, 172));
       }
       .fbott {
        font-size: larger;
        background-color: #199319;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
      }
   .fbott:hover {
      background-image: linear-gradient(to bottom right, rgb(126, 247, 142), rgb(0, 139, 173));


      }

p{
  margin-left: 5px;
  margin-right: 2px;

  font-family: 'Ardiga', sans-serif;

  font-size: 110%;
}
div{
  text-align: center;
}