
*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
body {
    background-image: url("../img/amig.jpg");
    background-size: 600px ;
       }
       .fbott {
        font-size: larger;
        background-color: #199319;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
      }
   .fbott:hover {
        background-color: #223094;
      }