*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
html{
    font-size: 62.5%;/*Equivale a 10px*/

}
/*
p{
    font-size:25px;

}
main{
    background-color: red;
    width:500px;
    height: 500px;
}
.text-container{
    font-size: 1.5em;
}

body{
    font-size: 20px;
}
*/

p{
    font-size: 1.6rem;/*16px*/
}
main div{
    font-size: 1.6rem;
}