*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

html{
    font-size: 75%; /*75% de 16px, que es el tamaño default de la fuente*/;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1{
    font-size: inherit;
}